<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gree.gree_x.dao.api.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.gree.gree_x.model.api.UserInfo" >
    <result column="workcode" property="workcode" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="lastname" property="lastname" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="creattime" property="creattime" jdbcType="TIMESTAMP" />
    <result column="mark" property="mark" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="departmentid" property="departmentid" jdbcType="INTEGER" />
    <result column="joblevel" property="joblevel" jdbcType="INTEGER" />
    <result column="banzu" property="banzu" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    workcode, password, lastname, status, creattime, mark, mobile, departmentid, joblevel, 
    banzu
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gree.gree_x.model.api.UserInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.gree.gree_x.model.api.UserInfoExample" >
    delete from user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gree.gree_x.model.api.UserInfo" >
    insert into user_info (workcode, password, lastname, 
      status, creattime, mark, 
      mobile, departmentid, joblevel, 
      banzu)
    values (#{workcode,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{lastname,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{creattime,jdbcType=TIMESTAMP}, #{mark,jdbcType=INTEGER}, 
      #{mobile,jdbcType=VARCHAR}, #{departmentid,jdbcType=INTEGER}, #{joblevel,jdbcType=INTEGER}, 
      #{banzu,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gree.gree_x.model.api.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="workcode != null" >
        workcode,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="lastname != null" >
        lastname,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creattime != null" >
        creattime,
      </if>
      <if test="mark != null" >
        mark,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="departmentid != null" >
        departmentid,
      </if>
      <if test="joblevel != null" >
        joblevel,
      </if>
      <if test="banzu != null" >
        banzu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="workcode != null" >
        #{workcode,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null" >
        #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creattime != null" >
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="departmentid != null" >
        #{departmentid,jdbcType=INTEGER},
      </if>
      <if test="joblevel != null" >
        #{joblevel,jdbcType=INTEGER},
      </if>
      <if test="banzu != null" >
        #{banzu,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gree.gree_x.model.api.UserInfoExample" resultType="java.lang.Integer" >
    select count(*) from user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>