<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
default-autowire="byName" >

	<!--
	<context:component-scan base-package="com.gree.mxpdemo.dao" /> -->
	
	<!--
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.gree.mxpdemo.dao" />
	</bean>
	-->
	<bean id="hrUserMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.gree.gree_x.dao.ehrsoft.HrUserMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactoryHr" />
	</bean>
	<bean id="organizationMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.gree.gree_x.dao.ehrsoft.OrganizationMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactoryHr" />
	</bean>

</beans>